aws-sam-cli==1.72.0
requests==2.25.1
pytest==7.3.0
boto3==1.26.111
PyJWT==2.6.0
cryptography==39.0.2
pydevd-pycharm==231.8109.197
opensearch-py==2.2.0
requests-aws4auth==1.2.2
aws-xray-sdk==0.96
jsonschema==4.17.3